/**
 * @desc Container
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 01:14:02
 */

@import '~@/assets/style/init'

.container {
    margin (0 - $padding-lg) (0 - $padding-lg) 0

    .header {
        position fixed
        top 0
        right 0
        left 200px
        display flex
        justify-content space-between
        padding $padding-md 2 * $padding-md 0
        z-index 99
        background-color $white-color
        border-bottom 1px solid $divider-color

        .logo {
            margin-right $padding-md
        }

        .detail {
            width 100%
            .row {
                display flex
                justify-content: space-between
                margin-bottom $padding-md
            }

            .title {
                font-size 20px
                textOverflow()
            }

            .action {
                margin-left $padding-md * 3
            }
        }
    }


    .content {
        margin $padding-lg
        margin-top $padding-lg + 65px

        .filter {
            margin-bottom $padding-md
        }
    }
}
