/**
 * @desc EditInput
 * @author Jooger <zzy1198258955@163.com>
 * @date 2018-09-08 15:31:57
 */

@import '~@/assets/style/init'

.edit-input {
    width 100%

    .content {
        line-height 1.5

        .edit-btn {
            padding 0 $padding-md
            line-height 1

            .icon {
                line-height 1
            }
        }
    }
}
