/**
 * @desc Article
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:51:43
 */

@import '~@/assets/style/init'

.article-list-page {
    .filter {
        display flex

        &-form {
            flex 1 1
        }

        .create-action {
            flex 0 0 80px
            display flex
            align-items center
            margin 0 32px

            .create-btn {
                display flex
                flex-direction column
                justify-content center
                align-items center
                width 80px
                height @width
                text-align center
                cursor pointer
                border-radius 16px
                color $white-color
                background-color $primary-color
                box-shadow 0 1px 20px 10px rgba($primary-color, .2)
                transition .3s all $ease

                span {
                    display inline-block
                    margin-top $padding-xs
                }

                &:hover {
                    transform scale(1.08)
                    box-shadow 0 1px 40px 10px rgba($primary-color, .2)
                }
            }
        }
    }

    .loadmore {
        text-align center
    }
}
