/**
 * @desc Article
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:51:43
 */

@import '~@/assets/style/init'

.article-list-page {
    .loadmore {
        text-align center
    }

    .article-list {

    }

    .article-item {
        margin-bottom $padding-lg
        overflow hidden

        .source {
            position absolute
            top -8px
            right -30px
            width 96px
            height 48px
            line-height 36px
            padding $padding-sm $padding-md
            transform rotateZ(45deg)
            text-align center
            color $white-color
            font-weight bold

            &.original {
                background-color rgba($info-color, .3)
                color $info-color
            }
        
            &.reprint {
                background-color rgba($warning-color, .3)
                color $warning-color
            }
        }

        .wrap {
            display flex
        }

        .main {
            flex 1 1 auto
            display flex
            flex-direction column
        }

        .extra {
            margin 0 64px

            .thumb {
                img {
                    max-height 150px
                    border-radius 4px
                    // box-shadow 1px 10px 10px rgba($black-color, 0.1)
                }
            }
        }

        .content {
            flex 1 1
            margin-bottom $padding-md

            .title {
                margin-bottom $padding-sm
                font-size $font-size-lg
                line-height 24px

                a {
                    color $content-color
                }
            }

            .category {
                margin-right $padding-sm
            }

            .tag-list {
                margin-bottom $padding-sm
            }

            .description {
                margin-bottom $padding-sm
                line-height 22px
                text-align justify                  
                lineLimit(3)
            }

            .time {
                color $sub-color

                span {
                    margin-right $padding-md
                }
            }
        }

        .action {
            display flex
            justify-content space-between
            align-items center
            
            & > * {
                display inline-block
            }

            .meta-list {
                flex 1 1
            }
            
            .meta-item {
                display inline-block
                padding 0 $padding-xs
                color $sub-color

                .icon {
                    margin-right $padding-xs
                }
            }

            .operation {
                opacity 0
                visibility hidden
                transition all .3s $ease-out
            }
        }

        &:hover {
            .operation {
                opacity 1
                visibility visible
            }
        }
    }
}
