/**
 * @desc Setting
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:53:56
 */

@import '~@/assets/style/init'

.setting-page {
    .content {
        display flex

        .setting-menu {
            margin-left (0 - $padding-md)
            margin-right $padding-lg
        }
    }

    .details {
        .label {
            margin-bottom $padding-lg
        }
    }
}
