/**
 * @desc Setting
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:53:56
 */

@import '~@/assets/style/init'

.setting-page {
    .content {
        display flex

        .setting-menu {
            flex 0 0 200px
            width 200px
            margin-left (0 - $padding-md)
            margin-right $padding-lg
        }
        
        .details {
            flex 1 1
            padding 0 $padding-lg
        
            .label {
                margin-bottom $padding-lg
            }
        }
    }
}
