/**
 * @desc Category
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:51:58
 */

@import '~@/assets/style/init'

.category-page {
    .create-btn {
        width 100%
        height 186px
        font-size 14px
    }
    
    .category-item {
        margin-bottom $padding-sm
    
        .action {
            display flex
            margin 0 -16px -16px
            border-top 1px solid $divider-color

            &-item {
                flex 1 1
                margin $padding-sm 0
                text-align center
                
                &:not(:last-child) {
                    border-right 1px solid $divider-color
                }

                .action-icon {
                    color rgba($black-color, .45)

                    &:hover {
                        color $primary-color
                    }
                }
            }
        }

        .content {
            display flex
            margin-bottom $padding-md

            .description {
                flex 1 1
                height 40px
                lineLimit(2)
            }

            .count {
                flex 0 0 50px
                margin-left $padding-sm

                p {
                    color $sub-color
                    font-size $font-size-sm
                    margin-bottom 4px
                    text-align center

                    &:last-child {
                        color $content-color
                        font-size 24px
                        margin 0
                    }
                }
            }
        }
    }
}
