/**
 * @desc Dashboard
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-01 21:53:55
 */

@import '~@/assets/style/init'

.dashboard-page {
    .stat-card {
        margin-bottom $padding-md

        .total {
            margin-bottom $padding-sm
            text-align right

            span {
                display inline-block
                margin-left $padding-md
                font-size 30px
                line-height 38px
            }
        }

        .divider {
            margin $padding-md 0
        }

        .today {
            text-align left
        }

        .dimension {
            margin-right $padding-sm
        }

        .trend {
            display flex

            .trend-chart {
                flex 1 0
            }
        }

        .rank {

            .rank-list {
                flex 0 0 350px
            }

            .article-list {
                .article {
                    display flex
                    justify-content space-between
                    margin-top $padding-md

                    &:nth-child(1) {
                        margin-top 0}

                    .rank-number {
                        flex 0 0 20px
                        display inline-block
                        width 20px
                        height @width
                        line-height @width
                        margin-right $padding-sm
                        border-radius 50%
                        background-color $divider-color
                        text-align center
                        font-size 12px
                    }

                    .title {
                        flex 1 0
                        textOverflow()
                    }

                    .count {
                        flex 0 0 30px
                    }

                    &:nth-child(1) {
                        .rank-number {
                            color $white-color
                            background-color $error-color
                        }
                    }

                    &:nth-child(2) {
                        .rank-number {
                            color $white-color
                            background-color $warning-color
                        }
                    }

                    &:nth-child(3) {
                        .rank-number {
                            color $white-color
                            background-color $info-color
                        }
                    }
                }
            }
        }
    }
}
