/**
 * @desc Dashboard
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-01 21:53:55
 */

@import '~@/assets/style/init'

.dashboard-page {
    .stat-card {
        margin-bottom $padding-md

        .total {
            margin-bottom $padding-sm
            text-align right

            span {
                display inline-block
                margin-left $padding-md
                font-size 30px
                line-height 38px
            }
        }

        .divider {
            margin $padding-md 0
        }

        .today {
            text-align left
        }

        .dimension {
            margin-right $padding-sm
        }
    }
}
