/**
 * @desc Detail
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 15:24:15
 */

@import '~@/assets/style/init'

.article-detail {
    .info-card {
        margin-bottom $padding-md
    }    
}
