/**
 * @desc Detail
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 15:24:15
 */

@import '~@/assets/style/init'

.article-detail {
    .action {
        &-item {
            margin-left $padding-md
        }
    }

    .info-card {
        margin-bottom $padding-md
    }

    .thumb {
        text-align center

        img {
            max-width 100%
        }
    }
}
