/**
 * @desc ArticleItem
 * @author Jooger <zzy1198258955@163.com>
 * @date 2018-09-07 21:30:08
 */

@import '~@/assets/style/init'

.article-item {
    margin-bottom $padding-lg
    overflow hidden

    .source {
        position absolute
        top -8px
        right -30px
        width 96px
        height 48px
        line-height 36px
        padding $padding-sm $padding-md
        transform rotateZ(45deg)
        text-align center
        color $white-color
        font-weight bold

        &.original {
            background-color rgba($info-color, .3)
            color $info-color
        }
    
        &.reprint {
            background-color rgba($warning-color, .3)
            color $warning-color
        }
    }

    .wrap {
        display flex
    }

    .main {
        flex 1 0
        display flex
        flex-direction column
    }

    .detail {
        display flex
    }

    .extra {
        flex 0 0
        margin-right $padding-lg

        .thumb {
            img {
                max-width 210px
                max-height 130px
                border-radius 4px
                // box-shadow 1px 10px 10px rgba($black-color, 0.1)
            }
        }
    }

    .content {
        flex 1 1

        .title {
            margin-bottom $padding-sm
            font-size $font-size-lg
            line-height 24px

            a {
                color $content-color
            }
        }

        .category {
            margin-right $padding-sm
        }

        .tag-list {
            margin-bottom $padding-sm
        }

        .description {
            margin-bottom $padding-sm
            line-height 22px
            text-align justify
            color $sub-color               
            lineLimit(2)
        }
    }

    .meta {
        display flex
        justify-content space-between
        align-items center
        
        & > * {
            display inline-block
        }

        .meta-list {
            flex 1 1
        }
        
        .meta-item {
            display inline-block
            padding 0 $padding-xs
            color $sub-color

            .icon {
                margin-right 2px
            }
        }

        .time {
            color $sub-color

            span {
                margin-left $padding-xs
            }

            & > span {
                margin-left $padding-md
            }
        }
    }

    .action {
        flex 0 0 150px
        display flex
        flex-wrap wrap
        justify-content flex-start
        align-items center
        margin 0 ($padding-lg * 2)

        &-item {
            display flex
            flex-direction column
            align-items center
            width 56px
            height @width
            margin $padding-xs
            padding $padding-xs
            font-size 12px
            text-align center
            background-color $white-color
            color $content-color
            border-radius 8px
            box-shadow 0 0 40px 2px rgba($black-color, .1)
            cursor pointer
            transition all .3s $ease

            .icon {
                flex 0 0 20px
                width 20px
                height @width
                line-height @width
                margin-bottom 4px
                border-radius 50%
                color $white-color
            }

            &.edit {
                .icon {
                    background-color $info-color
                }
            }
        
            &.view {
                .icon {
                    background-color $success-color
                }
            }

            &.delete {
                .icon {
                    background-color $error-color
                }
            }

            &:hover {
                box-shadow 0 0 50px 2px rgba($black-color, .1)
                transform scale(1.1)
            }
        }
    }

    &-tip {
        margin-bottom 0
        font-size 12px
    }
}
