/**
 * @desc LinkList
 * @author Jooger <zzy1198258955@163.com>
 * @date 2018-09-08 18:23:20
 */

@import '~@/assets/style/init'

.link-list {
    .add-link-btn {
        margin-bottom $padding-md
        font-size 16px
    }

    .link-item {
        position relative
        margin-bottom $padding-md
        padding $padding-md
        border-radius 16px
        background-image linear-gradient(135deg, $primary-color-light 0%, $primary-color-dark 100%)
        box-shadow 0 6px 20px 0 rgba($primary-color-dark, .6)
        cursor pointer
        text-shadow 1px 5px 5px rgba($black-color, .2)

        .delete-btn {
            display inline-block
            position absolute
            top 5px
            right @top

            span {
                color $white-color
            }
        }

        .wrap {
            display flex
            color $white-color

            .content {
                overflow hidden
            }

            .avatar {
                flex 0 0 50px
                width 50px
                height @width
                margin-right $padding-md
                border-radius 50%
                box-shadow 1px 5px 5px rgba($black-color, .1)
            }

            .icon {
                margin-right $padding-xs
            }

            p {
                position relative
                padding-left $padding-lg
                line-height 1.8
                color rgba($white-color, .8)
                lineLimit(3)

                a {
                    color rgba($white-color, .8)
                }

                .icon {
                    position absolute
                    top 1px
                    left 0
                    line-height 1.8
                }
            }

            .slogan {
                height 50px
                padding-left 0
            }
        }
    }    
}
