/**
 * @desc SiteSetting
 * @author Jooger <zzy1198258955@163.com>
 * @date 2018-09-11 23:35:02
 */

@import '~@/assets/style/init'

.site-setting {
    .logo {
        display flex
        align-items flex-start

        img {
            display inline-block
            max-width 100px
            max-height @width
            margin-right $padding-md
            padding $padding-md
            border 4px solid $divider-color
        }
    }
}
