/**
 * @desc KeysSetting
 * @author Jooger <zzy1198258955@163.com>
 * @date 2018-09-11 23:35:23
 */

@import '~@/assets/style/init'

.keys-setting {
    .keys-list {
        margin $padding-lg 0
    }

    .keys-item {
        display flex
        align-items center

        .icon {
            margin-right $padding-md
            font-size 28px
        }

        .content {
            flex 1 1

            .name {}

            .desc {
                margin-top $padding-xs
                color $sub-color
                font-size 12px
            }
        }

        .action {
            flex 0 0 50px
        }
    }
}
