/**
 * @desc Login
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:58:32
 */

@import '~@/assets/style/init'

.login-page {
    .wrap {
        display flex
        flex-direction column
        height 100vh
        overflow auto
    }

    .content {
        flex 1 1
        padding 250px 0 24px
        text-align center

        .top {

        }

        .main {
            width 320px
            margin 0 auto
        }
    }
}
