/**
 * @desc Uploader
 * @author Jooger <zzy1198258955@163.com>
 * @date 2018-09-08 00:30:16
 */
@import '~@/assets/style/init'

.uploader {
    text-align center

    .upload-img-wrapper {
        margin-bottom $padding-md

        img {
            max-width 100%
            cursor pointer
        }
    }
}
