/**
 * @desc Notification
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:53:29
 */

@import '~@/assets/style/init'

.notification-page {
    .n-list {
        padding $padding-md

        .pager {
            margin $padding-md 0
            text-align right
        }
    }

    .n-item {
        display flex
        justify-content space-between
        position relative
        margin-bottom $padding-md
        background-color $white-color
        box-shadow 0 0 30px 2px rgba($black-color, .07)
        border-radius 4px

        .viewed-tag {
            position absolute
            top 50%
            right 200px
            width 64px
            height @width
            line-height @width
            margin-top -(@width / 2)
            text-align center
            font-weight bold
            font-size 16px
            color $success-color
            border-radius 50%
            border 2px solid $success-color
            background-color rgba($success-color, .1)
            transform rotate(45deg)
        }

        .wrap {
            flex 1 0
            padding $padding-md
        }

        .from
        .to {
            display inline-block
            .name {
                display inline-block
                margin-left $padding-xs
            }
        }

        .to {
            &-icon {
                margin 0 $padding-md
                color $info-color
            }
        }

        .verb {
            margin-top $padding-xs
            margin-right 200px

            &-content {
                lineLimit(3)
                word-break break-all
                font-size 12px
            }
        }

        .meta {
            display flex
            margin-top $padding-xs
            color $sub-color
            font-size 12px

            &-item {
                margin-right $padding-md

                .icon {
                    margin-right $padding-xs
                }
            }

            .time {
                display flex
                align-items center
            }
        }

        .action {
            display flex
            justify-content center
            align-items center
            margin 0 $padding-lg

            &-item {
                display flex
                justify-content center
                align-items center
                width 32px
                height @width
                margin 0 $padding-xs
                border-radius 4px
                box-shadow 0 0 10px 2px rgba($black-color, .07)
                transition all .3s $ease
                cursor pointer

                &.view {
                    color $success-color
                }

                &.delete {
                    color $error-color
                }

                &:hover {
                    box-shadow 0 0 20px 2px rgba($black-color, .07)
                }
            }
        }
    }
}
