/**
 * @desc Auth
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:54:03
 */

@import '~@/assets/style/init'

.auth-page {
    .account {
        margin-bottom $padding-md
        text-align center

        .avatar {
            width 100px
            height @width
            margin-bottom $padding-md
            border-radius 50%
        }

        .name {
            margin-bottom $padding-xs
            font-family Oleo Script
        }

        .slogan {
            color $sub-color
        }
    }

    .profile {
        p {
            display flex
            margin-bottom $padding-xs
            line-height 24px
            margin-bottom $padding-md

            .icon {
                flex 0 0 20px
                margin-right $padding-xs
                line-height 24px
            }

            &.description {
                .icon {
                    color $info-color
                }
            }

            &.skill {
                .icon {
                    color $success-color
                }
            }

            &.hobby {
                .icon {
                    color $error-color
                }
            }

            &.location {
                .icon {
                    color $warning-color
                }
            }

            &.company {
                .icon {
                    color $sub-color
                }
            }
        }

    }

    .tags {
        .label {
            margin-bottom $padding-md
        }
    }
}
