/**
 * @desc Auth
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-02 13:54:03
 */

@import '~@/assets/style/init'

.auth-page {
    .content {
        display flex

        .auth-menu {
            flex 0 0 200px
            width 200px
            margin-left (0 - $padding-md)
            margin-right $padding-lg
        }

        .details {
            flex 1 1
        }
    }

    .account-info {
        max-width 500px
        margin 0 auto
        padding $padding-lg
    }

    .account {
        margin $padding-md 0
        text-align center

        .avatar {
            margin-bottom $padding-md

            img {
                width 100px
                height @width
                margin-bottom $padding-xs
                border-radius 50%
            }
        }

        .name {
            margin-bottom $padding-xs
            font-family Oleo Script
        }

        .slogan {
            color $sub-color
        }
    }

    .profile {
        margin-top $padding-lg * 2

        p {
            display flex
            margin-bottom $padding-xs
            line-height 1.5
            margin-bottom $padding-md

            .icon {
                flex 0 0 20px
                margin-right $padding-xs
                line-height 1.5
            }

            &.description {
                .icon {
                    color $info-color
                }
            }

            &.skill {
                .icon {
                    color $success-color
                }
            }

            &.hobby {
                .icon {
                    color $error-color
                }
            }

            &.location {
                .icon {
                    color $warning-color
                }
            }

            &.company {
                .icon {
                    color $sub-color
                }
            }
        }

    }

    .tags {
        .label {
            margin-bottom $padding-md
        }
    }
}
