/**
 * @desc Moment
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-11-29 15:47:20
 */

@import '~@/assets/style/init'

.moment-page {
    .add-moment-btn {
        margin-bottom $padding-md
        font-size 16px
    }

    .pager {
        margin $padding-md 0
        text-align right
    }
}
